@media only screen and (max-width: 1100px) {
    .topSearch {
        width: 300px !important;
    }
}


@media only screen and (max-width: 1000px) {
    .topSearch {
        width: 250px !important;
       
    }
    .inputContainer {
        margin-left: 70px !important;
    }
}


@media only screen and (max-width: 950px) {
    .topSearch {
        width: 200px !important;
       
    }
    .inputContainer {
        margin-left: 50px !important;
    }
}

@media only screen and (max-width: 880px) {
    .topSearch {
        width: 150px !important;
       
    }
    .inputContainer {
        margin-left: 30px !important;
    }
}