.notifications {
	color: brown;
}
.dashboard-form .form-group {
	margin: 5px 15px;
	width: 80%;
}
#admin-links {
	width: 90%;
	background: #fff;
	border-radius: 0;
	box-shadow: 5px 0 10px 2px #ddd;
	margin-top: -12px;
}
#admin-links .card-header {
	color: #979494;
	text-transform: uppercase;
}
.dashboard-form {
	padding: 30px;
}
.list-group-item {
	background-color: white;
	margin: 0;
	padding: 0;
}
