.forget-password {
	text-align: center;
}
#change-password form .form-control,
.forget-password form .form-control,
#otp-form form .form-control {
	margin: 10px auto;
}
#change-password form,
.forget-password form,
#otp-form form {
	margin: 20px auto;
}
