.own-message {
	background-color: rgb(145, 198, 233);
	text-align: right;
	padding: 5px;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px #bbb2b2;
}
.own-msg {
	text-align: right;
	border-radius: 5px;
}
.sender-msg {
	padding: 4px;
	box-shadow: 0 0 5px #bbb2b2;
	background: #dfdfdf;
}
#message .form-control {
	min-width: 100%;
}
