.view-all {
	padding-top: 0px;
	float: right;
}
.center-flexs {
	justify-content: center;
}
.view-all a {
	background: #1935a6;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 0.8rem;
}
.wrapper {
	padding: 20px;
}
.showCategories .product-img {
	/* border: 3px solid #443a3a; */
	background-color: #2d2c2c;
}
.thumb-show .product-img {
	width: 86%;
	height: 210px;
}

@media only screen and (max-width: 768px) {
	.showCategories .product-img {
		width: 60px;
	}
	.showCategories .product-img {
		padding: 0px;
	}
	.showCategories {
		padding: 20px 0;
	}
}

@media only screen and (max-width: 500px) {
	.center-flex .product-img {
		padding: 5px;
	}
	.thumb-show .product-img {
		width: 100%;
	}
	.view-all a,
	.site-name-footer {
		font-size: 0.6rem;
	}
}
