.view-all {
	padding-top: 0px;
	float: right;
}
.center-flexs {
	justify-content: center;
	background: #e8fbe0;
}
.view-all a {
	background: #1935a6;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 0.8rem;
}
.wrapper {
	padding: 20px;
}
.showCategories .product-img {
	/* border: 3px solid #443a3a; */
	background-color: #fff;
}
