.view-all {
	padding-top: 0px;
	float: right;
}
.center-flexs {
	justify-content: center;
}
.view-all a {
	background: #df1a4c;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
}
.wrapper {
	padding: 20px;
}
